<nav *ngIf="totalRecords > pageSize">
  <ul class="pagination justify-content-center">

    <!-- Previous Button -->
    <li class="page-item" [class.disabled]="pageNumber === 1">
      <button class="page-link" (click)="prev()">Previous</button>
    </li>

    <!-- Page Info -->
    <li class="page-item disabled">
      <span class="page-link">
        Page {{ pageNumber }} of {{ totalPages }}
      </span>
    </li>

    <!-- Next Button -->
    <li class="page-item" [class.disabled]="pageNumber >= totalPages">
      <button class="page-link" (click)="next()">Next</button>
    </li>

  </ul>
</nav>
